@model tHISiStHEsHOP.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Main Page";
}
<h1>Fav Tachki</h1>

@*<div class="row mt-5 mb-2">
    @{
        foreach (Car car in Model.FavCars)
        {
            @Html.Partial("AllCars", car)
        }
    }
</div>*@

